*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    background-color: rgb(66, 143, 215);
    display: flex;
    flex-direction: row;
    /* @media (min-width: 300px) and (max-width:950px) {
        flex-direction: column;
        align-items: center;
    } */
    justify-content: center;
    align-items: start;
    gap: 30px;
    flex-wrap: wrap;
}

body :nth-child(1){
    width: 40%;
    @media (min-width: 300px) and (max-width:950px) {
        width: 80%;
    }
    height: auto;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 30px;
}

body :nth-child(2){
    width: 40%;
    @media (min-width: 300px) and (max-width:950px) {
        width: 80%;
    }
    height: auto;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

